<div class="header_logo">
  <a routerLink="" routerLinkActive="active">
    <img [src]="'assets/imgs/logo.png'" />
  </a>
</div>
<nav class="navbar navbar-expand-sm flex-end">
  <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/livros/listar" routerLinkActive="active">
          Listar livros
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/livros/adicionar" routerLinkActive="active">
          Adicionar livro
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>-->
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div>Biblioteca Online</div>
  <div>A forma mais simples e rápida de encontrar livros!</div>
</footer>