.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 8%;
  margin-bottom: 47.5%;
}

.img {
  max-width: 100%;
}

.itemLivro {
  background-color: #afaeae1a;
  border-radius: 10px;
}